#Server port
PORT=3000
NODE_ENV=development

#Database 
#MongoDB connection string
MONGODB_URI=your_mongodb_connection_string_here

#Authentication (JWT)
JWT_SECRET=your_super_secret_jwt_key_here

#JWT expiry(optional)
JWT_EXPIRES_IN=7d

#WebScoket
WS_URL=ws://localhost:3000

